.form_item {
    display: flex;
    flex-direction: column;
}

.form_item input {
    font-style: italic;
}

.form_item > label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form_item > input {
    border-radius: 2px;
    border: 1px solid silver;
    margin-bottom: 8px;
    width: 70%;
}

.button {
    margin-left: calc(35% - 50px);
}